*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    max-width: 100%;
    height: 127px;
    padding-left: 45px;
    padding-right: 45px;
}

.menu nav{
    height: 127px;
    display: flex;
    align-items: center;
}


.menu_logo{
    width: 270px;
    
}

.menu_logo a{
    font-family: fantasy;
    text-decoration: none;
    color: black;
    font-size: 35px;
}


.menu_wrapper{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.menu_item a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.divider{
    height: 2px;
    background-color:black;
    margin-top: 6px;
    display: none;
}
.active{
    display: block;
}




.social_md{
    display: none;
    height: 42px;
    width: 100px;
    background-color: blue;
    margin-left: 705px;
}



.content{
    max-width: 100%;
    display: block;
}
.change.content{
    display: none;
}

.promo{
    min-height: 1208px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    cursor: pointer;
}
.change.promo{
    display: none;
}

.promo_block{
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 120vh;
}
.promo_block:hover{
    filter: brightness(79%);
}



.promo_item1{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 45vw;
    height: 98%;
    margin-top: 100px;
    transition-duration: 0.3s;
    background: url('https://images.squarespace-cdn.com/content/v1/5d37161e0198630001386071/1564671878561-T2Q122FSQ1RMLSMU143M/ke17ZwdGBToddI8pDm48kJVSTvS5NKQRREEAlyT7Qt17gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UY2FLnfhRrBkVQtC1VzXrd63fFsPMInzN-2uz2fT8ag6Jrp0Q3qRhvCXOPRnHq6klQ/13_20161004S1_CERAMICS_047.jpg?format=750w')center center/cover no-repeat
}

.promo_item2{
    margin-top: 30px;
    width: 45vw;
    height: 98%;
    margin-top: 100px;
    transition-duration: 0.3s;
    background: url('https://images.squarespace-cdn.com/content/v1/5d37161e0198630001386071/1564673273407-NI2Z1YS7KDZU0UA65IOJ/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/1509-10f-01_Watches_Details_0068-RGB.jpg?format=750w')center center/cover no-repeat
}
.promo_item3{
    margin-top: 30px;
    width: 45vw;
    height: 98%;
    margin-top: 100px;
    transition-duration: 0.3s;
    background: url('https://images.squarespace-cdn.com/content/v1/5d37161e0198630001386071/1564673303865-N80GTOGEPM5CZQ3B34UR/ke17ZwdGBToddI8pDm48kNWEijDgOM3qhupCxD6zaoF7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0hveExjbswnAj1UrRPScjfAvO9Gft18tQs-1jKy_ly9FZSn22QQVyfmA5BW_sN6yjg/06_STILL_LIFE_265_V3_Master_OP2.jpg?format=750w')center center/cover no-repeat
}
.promo_item4{
    margin-top: 30px;
    width: 45vw;
    height: 98%;
    margin-top: 100px;
    transition-duration: 0.3s;
    background: url('https://images.squarespace-cdn.com/content/v1/5d37161e0198630001386071/1564673344431-I3GOSWAXY1HZAGHKU817/ke17ZwdGBToddI8pDm48kIIi01MzlT6s0Ay7rhSX3Od7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UVt_9Kf_zDV337d7QtZV4g8W2Jzsluz8Fln6_Zithp5faxWHsOZ9Sp5tdeSL6PL17g/Stocksy_txp46315712VFE200_Large_2317055.jpg?format=750w')center center/cover no-repeat
}
.promo_item5{
    margin-top: 30px;
    width: 45vw;
    width: 45vw;
    height: 98%;
    margin-top: 100px;
    transition-duration: 0.3s;
    background: url('https://images.squarespace-cdn.com/content/v1/5d37161e0198630001386071/1564679197010-KR4K85LMTHLKM7DV3REH/ke17ZwdGBToddI8pDm48kM4hVnc8kBimH-s8itOnGXF7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UeinEv7oYSK84LaPxbB_97DCBh52nANhYiNv4CVkV8vbELQUv11dQuHZj93ZCN1-8g/1509-07i-07_Build_It_Details_2_0385-RGB.jpg?format=750w')center center/cover no-repeat
}
.promo_item6{
    margin-top: 30px;
    width: 45vw;
    height: 98%;
    margin-top: 100px;
    transition-duration: 0.3s;
    background: url('https://images.squarespace-cdn.com/content/v1/5d37161e0198630001386071/1564678998966-PZO62YB0EYQN8HFOSHV7/ke17ZwdGBToddI8pDm48kH0gRy6RMW20rIGs2o2LxkZ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UUBI5LO1F8pYgtpMoef6HrH2KqEu2QkizOgSNEaSslFdVui_uwT1L0qH0SjV2jNRDA/Header_04_008-copy.jpg?format=750w')center center/cover no-repeat
}





.application{
    max-width: 100%;
    display: block;
    padding-left: 50px;
}
.change.application{
    display: none;
}

.form{
display: flex;
justify-content: space-between;
width: 700px;
padding-right: 80px;
margin-top: 50px;
}

.form p {
    font-family: fantasy;
    font-size: 25px;
}

.name{
    width: 400px;
    height: 25px;
}

.surname{
    width: 400px;
    height: 25px;
}

.telephone{
    width: 400px;
    height: 25px;
}

.send{
    display:block;
    margin: 80px 285px;
    width: 100px;
    height: 40px;
    background-color:black;
    color:white;
    font-size: 20px;
    border-radius:10px;
}

.contact{
    width: 1000px;
    height: 200px;
    display:block;
}
.change.contact{
    display: none;
}

.hide_menu{
    display: none;
}


@media screen and (max-width:720px){
    .menu{
        max-width: 100%;
        height: 127px;
        padding-left: 30px;
        padding-right: 30px;
    }
        .menu_logo{
            width: 300px;
        }

            .menu_logo a{
                font-size: 26px;
            }

    .promo{
        display: block;
    }

        .promo_block{
            margin: 20px auto;
            width: 88vw;
        }

        .link_item1{
            align-self: end;
        }

        .promo_item1{
            margin: 20px auto;
            width: 100%;
        }
        .promo_item2{
            margin: 20px auto;
            width: 100%;
        }
        .promo_item3{
            margin: 20px auto;
            width: 100%;
        }
        .promo_item4{
            margin: 20px auto;
            width: 100%;
        }
        .promo_item5{
            margin: 20px auto;
            width: 100%;
        }
        .promo_item6{
            margin: 20px auto;
            width: 100%;
        }

    .application{
        padding-left: 120px;
    }

        .form{
            width: 500px;
            margin-top: 39px;
        }

            .form p{
                font-size: 18px;
            }

            .name{
                width: 250px;
                height: 18px;
                }

            .surname{
            width: 250px;
            height: 18px;
            }

            .telephone{
            width: 250px;
            height: 18px;
            }

    .menu_wrapper{
        display: none;
    }

        .hamburger_block{
            margin-top: 10px;
            width: 50px;
            height: 40px;
            margin-left: 308px;
        }
    
            .hamburger{
                width: 42px;
                height: 33px;
                border: 0px;
                background:none;
            }
    
    .top_line, .middle_line, .bottom_line{
        margin-bottom: 6px ;
        width: 100%;
        height: 6px;
        background-color: black;
        border-radius:1px;
        transition-duration: 0.5s;
    }
    
    .change.top_line {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 8px) ;
    }
    
     .change.middle_line{
        display: none;
    }
    
    
    .change.bottom_line{
        -webkit-transform: rotate(45deg) translate(-9px, -9px) ;
        transform: rotate(45deg) translate(0px, -1px) ;
    }

    .hide_menu{
        display: none;
        transition-duration: 0.3s;
    }
    
    .change.hide_menu{
        display: block;
        margin: 0 auto;
        width: 80%;
        height: 700px;
        top: 120px;
        left: 120px;
    }
    
    nav.hide{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 200px;
        margin: 40px auto;
    }
    
    .hide_item{
        text-align: center;
       
    }
    
    .hide_item a{
        text-decoration: none;
        font-size: 40px;
        color: black;
    } 
}

@media screen and (max-width:576px){
    .menu{
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    }

    .menu_wrapper{
        display: none;
    }

    .menu_logo{
        width: 250px;
    }
    .menu_logo a{
        font-size: 15px;
    }
    .promo_block{
        width: 88vw;
        height: 80vh;
    }

        .promo_item{
            margin: 20px auto;
            width: 100%;
            height: 100%;
        }
    
        .application{
            padding-left: 60px;
        }
        .form{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 320px;
            padding-right: 50px;
            margin-top: 50px;
            }


            .name{
                width: 150px;
                height: 18px;
                }

            .surname{
            width: 150px;
            height: 18px;
            }

            .telephone{
            width: 150px;
            height: 18px;
            }
            .send{
                display:block;
                margin: 80px 50px;
                width: 80px;
                height: 32px;
                background-color:black;
                color:white;
                font-size: 20px;
                border-radius:10px;
            }

            .change.hide_menu{
                margin: 0 auto;
            }


    .hamburger_block{
        margin-top: 15px;
        width: 50px;
        height: 40px;
        margin-left: 250px;
    }

    .hamburger{
        width: 36px;
        height: 28px;
        border: 0px;
        background:none;
    }

    .top_line, .middle_line, .bottom_line{
        margin-bottom: 3px ;
        width: 80%;
        height: 4px;
        background-color: black;
        border-radius:1px;
        transition-duration: 0.5s;
    }

    .change.top_line {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-2px, 8px) ;
    }


    .change.middle_line{
        display: none;
    }


    .change.bottom_line{
        -webkit-transform: rotate(45deg) translate(-9px, -9px) ;
        transform: rotate(45deg) translate(4px, -4px) ;
    }

    .hide_menu{
        display: none;
        transition-duration: 0.3s;
    }

    .change.hide_menu{
        display: block;
        width: 80%;
        height: 700px;
        top: 120px;
        left: 120px;
    }

    nav.hide{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
        margin: 40px auto;
    }

    .hide_item{
        text-align: center;
    
    }

    .hide_item a{
        text-decoration: none;
        font-size: 40px;
        color: black;
    } 

}

@media screen and (max-width:420px){
    .menu{
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
        .menu_logo{
            width: 280px;
        }

        .form{
            width: 270px;
            }

            .name{
                width: 130px;
                height: 18px;
                }

            .surname{
            width: 130px;
            height: 18px;
            }

            .telephone{
            width: 130px;
            height: 18px;
            }

            .change.hide_menu{
                margin: 0 auto;
            }


    .hamburger_block{
        margin-top: 10px;
        width: 50px;
        height: 40px;
        margin-left: 130px;
    }




}

   /* .menu_logo{
        width: 600px;
    }
    .menu_logo a{
        font-size: 43px;
    }


}






 /* .promo{
        height: 900px;
    } */


    /* .promo_item{
        width: 40%;
        height: 31%;
    } */



/* .hamburger_block{
    width: 50px;
    height: 50px;
    margin-left: 500px;
}

.hamburger{
    width: 65px;
    height: 50px;
    border: 0px;
    background:none;
}

.top_line, .middle_line, .bottom_line{
    margin-bottom: 8px ;
    width: 100%;
    height: 8px;
    background-color: black;
    border-radius:1px;
    transition-duration: 0.5s;
}

.change.top_line {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 8px) ;
}


 .change.middle_line{
    display: none;
}


.change.bottom_line{
    -webkit-transform: rotate(45deg) translate(-9px, -9px) ;
    transform: rotate(45deg) translate(-3px, -1px) ;
}

.hide_menu{
    display: none;
    transition-duration: 0.3s;
}

.change.hide_menu{
    display: block;
    position: absolute;
    width: 80%;
    height: 700px;
    top: 120px;
    left: 120px;
}

nav.hide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 200px;
    margin: 40px auto;
}

.hide_item{
    text-align: center;
   
}

.hide_item a{
    text-decoration: none;
    font-size: 40px;
    color: black;
} */



   /* .menu_logo{
        width: 600px;
    }
    .menu_logo a{
        font-size: 43px;
    } */